$ynab-blurple: #374d9b;

// https://mycolor.space/?hex=%23374D9B&sub=1

$blue: $ynab-blurple;

// from the "skip gradient"
$green: #20c197;
$green-light: #6cfbce;
$green-dark: #008a64;

//from the "natural palette"
$white: #f9f8ff;
