@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@00;800&display=swap');

@import './mixins.scss';

body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input,
textarea,
select {
  font-family: 'Merriweather Sans', sans-serif;
}

@include apply-color-scheme(default-theme);

.page0 {
  @include apply-color-scheme(default-theme);
}

.page1 {
  @include apply-color-scheme(theme-1);
}
